@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login {
    background: #ffff;
    padding: 40px 40px;
    text-align: center;
    box-shadow: rgb(85, 91, 255) 0px 0px 0px 3px, rgb(31, 193, 27) 0px 0px 0px 6px, rgb(255, 217, 19) 0px 0px 0px 9px, rgb(255, 156, 85) 0px 0px 0px 12px, rgb(255, 85, 85) 0px 0px 0px 15px;
}

.login h2 {
    text-align: center;
    font-size: 3em;
    letter-spacing: 2px;
    font-weight: bold;
    color: #003cff;
    margin-bottom: 30px;
}

.box {
    position: relative;
    margin-bottom: 20px;
}

input {
    position: relative;
    width: 300px;
    height: 50px;
    text-indent: 10px;
    border: 2px solid;
    border-radius: 10px;
}

.btnlogin {
    display: inline-block;
    background-color: #ffe4c4;
    padding: 10px 45px;
    margin-top: 20px;
    color: #003cff;
    border-radius: 10px;
    letter-spacing: 2px;
    font-weight: 700px;
    text-decoration: none;
}

.btnlogin:hover {
    background-color: #003cff;
    color: #ffff;
}