* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f4f7f9;
}

.header {
    background: linear-gradient(#4a90e2);
    color: white;
    padding: 40px ;
}

.header-content {
    display: flex;
    align-items: center;
}

.logo {
    width: 60px;
    margin-right: 20px;
}

.title h2 { font-size: 1.2rem; font-weight: 400; }
.title h1 { font-size: 1.8rem; font-weight: bold; }

.main-body {
    max-width: 1000px;
    margin: -30px auto 0;
    background: white;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    padding: 40px;
}

.content-wrapper {
    display: flex;
    gap: 50px;
}

.login-section, .info-section {
    flex: 1;
}

.divider {
    width: 1px;
    background-color: #eee;
}

h3 {
    margin-bottom: 25px;
    color: #333;
    font-size: 1.1rem;
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    font-size: 0.85rem;
    margin-bottom: 5px;
    color: #555;
}

.required { color: red; }

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    outline: none;
}

.password-wrapper { position: relative; }

.forgot-link {
    display: block;
    font-size: 0.85rem;
    color: #1557c0;
    text-decoration: none;
    margin-bottom: 20px;
    font-weight: bold;
}

.btn-primary {
    width: 100%;
    background-color: #0b50bc;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 10px;
}

.info-section p {
    font-size: 0.9rem;
    line-height: 1.6;
    color: #666;
}