* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f4f7f9;
}

.header {
    background: linear-gradient(#4a90e2);
    color: #ffff;
    padding: 40px ;
}

.tungtungtung {
    display: flex;
    align-items: center;
}

.img {
    width: 60px;
    margin-right: 20px;
}

.title h2 { font-size: 1.2rem; font-weight: 400; }
.title h1 { font-size: 1.8rem; font-weight: bold; }

.skibidi {
    max-width: 1000px;
    margin: -30px auto 0;
    background: #ffff;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    padding: 40px;
}

.toilet {
    display: flex;
    gap: 50px;
}

.dangnhap, .thongtin {
    width: 1px;
    flex: 1;
}

h3 {
    margin-bottom: 25px;
    color: #333;
    font-size: 1.1rem;
}

.hihihahahuhu {
    margin-bottom: 15px;
}

.hihihahahuhu label {
    display: block;
    font-size: 0.85rem;
    margin-bottom: 5px;
    color: #555;
}

.none { color: #ff0000; }

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    outline: none;
}

.matkhau { position: relative; }

.nutbam {
    width: 100%;
    background-color: #0b50bc;
    color: #ffff;
    padding: 12px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 10px;
}

.thongtin p {
    font-size: 0.9rem;
    line-height: 1.6;
    color: #666;
}

.query {
    margin: 20px 0;
}

.query p {
    margin-top: 10px;
    font-weight: 400;
}

.query a {
    text-decoration: none;
    color: #ffff;
}

.query a:hover {
    text-decoration: underline;
    font-weight: 700;
}